body {
    font-family: "Noto Serif", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: white;
    color: #f99484;
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #f99484;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #D8EFD3;
    border-radius: 5px;
}

section {
    padding: 60px 20px;
    box-sizing: border-box;
}

.about-container, .skills-container, .projects-container, .resume-container, .contact-container, .footer-container {
    max-width: 1200px;
    margin: auto;
}

.about-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-container img.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.about-container .bio {
    max-width: 600px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    background: #f99484;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.project-box h3 {
    margin: 10px 0;
}

.resume-container a {
    background-color: #f99484;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    color: #f99484;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-media a:hover {
    color: #d36f5a;
}

footer {
    background-color: #f99484;
    color: white;
    padding: 20px 0;
    text-align: center;
}
